#logo {
	//z-index: -1;
  float: left;
	//position: relative;
	width: 15%;
	//margin-right: 20%;
	max-width: 64px;
}

#wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  min-width: 240px;
}

@media screen and (max-width: 800px){
  #wrapper {
  width: 90%;
  }
}  
header {
margin-right: 1%;
margin-left: 1%;
width: 98%;
position: relative;
text-align: center;
}
#rooms {
display: inline-block;
margin-top: 32px;
padding-right: 1%;
margin-right: 1%;
margin-left: 1%;
//float: left;
width: 60%;
min-width: 220px;
}
#create {
margin-top: 32px;
margin-right: 1%;
//margin-left: 1%;
float: left;
//float: right;
width: 220px;
}
.room {
display: inline-block;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 10px;
}
.roomIcon {
float: left;
border-radius: 100%;
border: 2px solid #ccf;
background-color: #fff;
width: 28px;
height: 28px;
text-align: center;
padding: -30px;
vertical-align: middle;
line-height: 28px;
color: black;
}
.roomTitle {
float: left;
line-height: 28px;
height: 28px;
margin-left: 5px;
}